@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}




@layer utilities {
  .pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
}

@layer base {
  body {
    @apply bg-green-200 text-brown-800 font-bubblegum;
  }
}

@layer components {
  .dashboard-title {
    @apply text-5xl sm:text-6xl font-bold mb-2 text-brown-800;
    text-shadow: 2px 2px 0 #f4e6d0;
  }

  .section-title {
    @apply text-2xl font-bold mb-2 text-green-800;
  }

  .button {
    @apply inline-block px-6 py-3 rounded-lg text-lg font-bold transition-all duration-300 transform hover:scale-105 border-2 border-brown-600;
  }

  .bg-wood {
    background-image: url("/wood-texture.png");
    background-repeat: repeat;
  }
}